.viewMenu {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-end;
  margin: -1em -1em 0 0;
  margin-bottom: 2em;
  width: 100%;
  max-width: 900px;

  .item {
    margin: 1em 1em 0 0;
  }
}