@import "../../../../../mixins/classes.scss";

.classSelectWrapper {
  margin-bottom: 2em;
  position: relative;

  &__locked {
    padding: 1em;
    border-radius: 5px;
    background: rgba(black, 0.4);
    box-shadow: 0 0 15px 2px black;

    .lockDisplay {
      position: absolute;
      top: -1em;
      left: 0;
      width: 100%;
      display: flex;
      justify-content: center;

      .lockDisplay__inner {
        padding: 0 1em;
        text-align: center;
        background: #1c1815;
        border: 2px solid grey;
        border-radius: 5px;
        display: flex;
        align-items: center;

        &:before {
          content: "";
          display: inline-block;
          background: url("../../../../../../../images/icons/lock.svg?fill="+escapeClassColour(
                monk
              ))
            center center no-repeat;
          width: 0.8em;
          height: 0.8em;
          margin-right: 0.5em;
          margin-top: -0.15em;
        }

        &:after {
          content: "Locked: Not selected";
          color: grey;
        }
      }
    }

    &__main {
      border: 2px solid classColour(monk);
      .lockDisplay {
        .lockDisplay__inner {
          border-color: classColour(monk);
          &:before {
            background: url("../../../../../../../images/icons/lock.svg?fill="+escapeClassColour(
                  monk
                ))
              center center no-repeat;
          }
          &:after {
            content: "Locked: Selected main";
            color: classColour(monk);
          }
        }
      }
    }

    &__alt {
      border: 2px solid classColour(rogue);
      .lockDisplay {
        .lockDisplay__inner {
          border-color: classColour(rogue);
          &:before {
            background: url("../../../../../../../images/icons/lock.svg?fill="+escapeClassColour(
                  rogue
                ))
              center center no-repeat;
          }
          &:after {
            content: "Locked: Selected alt";
            color: classColour(rogue);
          }
        }
      }
    }

    &__none {
      border: 2px solid grey;
      .lockDisplay {
        .lockDisplay__inner {
          border-color: grey;
          &:before {
            background: url("../../../../../../../images/icons/lock.svg?fill="+grey)
              center center no-repeat;
          }
          &:after {
            content: "Locked: Not selected";
            color: grey;
          }
        }
      }
    }
  }
}

.description {
  margin-bottom: 1em;
}

.selectionWarning {
  font-style: italic;
  color: classColour(deathknight);
}
