@import '../../../../../mixins/classes';

.selectionLock {
  flex: 0 1 200px;
  padding-left: 40px;
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-start;
  justify-content: center;

  .action {
    display: flex;
    align-items: center;

    &:before {
      content: '';
      width: 1.5em;
      height: 1.5em;
      display: inline-block;
      margin-right: 1em;
    }

    &__notLocked {
      &:before {
        background: url('../../../../../../../images/icons/lock-open.svg?fill=grey') center center no-repeat;
      }
    }
    &__lockedIn {
      &:before {
        background: url('../../../../../../../images/icons/lock.svg?fill=' + escapeClassColour(rogue)) left center no-repeat;
      }
    }
    &__notConfirmed {
      &:before {
        background: url('../../../../../../../images/icons/check-square.svg?fill=grey') left center no-repeat;
      }
    }
    &__confirmed {
      &:before {
        background: url('../../../../../../../images/icons/check-square.svg?fill=' + escapeClassColour(monk)) left center no-repeat;
      }
    }
    &__send {
      cursor: pointer;
      color: classColour(rogue);
      &:before {
        background: url('../../../../../../../images/icons/share-square.svg?fill=' + escapeClassColour(rogue)) left center no-repeat;
      }
    }
  }

  .checkAction {
    display: flex;
    align-items: center;
    cursor: pointer;
    user-select: none;

    input[type=checkbox] {
      display: none;

      & ~ .checkDisplay {
        content: '';
        width: 1.5em;
        height: 1.5em;
        display: inline-block;
        margin-right: 1em;
        background: url('../../../../../../../images/icons/lock-open.svg?fill=' + escapeClassColour(deathknight)) left center no-repeat;
      }

      &:checked ~ .checkDisplay{
        background: url('../../../../../../../images/icons/lock.svg?fill=' + escapeClassColour(monk)) left center no-repeat;
      }
    }
  }

}