.footer {
  margin: 3em auto 0;
  text-align: center;
  color: rgba(255, 255, 255, 0.1);

  .logo {
    max-width: 40px;
    height: auto;
  }

  a {
    color: rgba(255, 255, 255, 0.1);
    font-style: italic;
  }
}