$classColours: (
  deathknight: #c41f3b,
  demonhunter: #a330c9,
  druid: #ff7d0a,
  hunter: #abd473,
  mage: #69ccf0,
  monk: #00ff96,
  paladin: #f58cba,
  priest: #ffffff,
  rogue: #fff569,
  shaman: #0070de,
  warlock: #9482c9,
  warrior: #c79c6e
);

@function classColour($class) {
  @return map-get($classColours, $class);
}

@function escapeClassColour($class) {
  @return "%23" + str-slice(inspect(classColour($class)), 2);
}
