@import '../../../mixins/classes.scss';

.overview {
  background: linear-gradient(to right, transparent 0%, rgba(0, 0, 0, 0.5) 20%, rgba(0, 0, 0, 0.5) 80%, transparent 100%);
  padding-bottom: 2em;

  .selectionsContainer {
    margin-top: 2em;

    .selectionsHeader {
      text-align: center;
      font-size: 1.2em;
    }

    .selectionsBlurb {
      text-align: center;
      opacity: 0.7;
      font-style: italic;
      margin-bottom: 1em;
    }
  }

  .userSelections {
    margin: 0.5em auto;
    display: flex;
    flex-flow: row wrap;
    width: 400px;
    max-width: 100%;
    position: relative;

    &:not(:first-child) {
      padding-top: 1em;

      &::before {
        content: '';
        height: 1px;
        width: 100%;
        position: absolute;
        left: 0;
        top: 0;
        background: linear-gradient(to right, transparent 0%, rgba(255,255,255,0.5) 50%, transparent 100%);
      }
    }

    .selectionLeft {
      flex: 1 0 160px;
      padding-right: 10px;
      display: flex;
      flex-direction: column;

      .battletag {
        text-align: right;

        @media (max-width: 500px) {
          text-align: left;
        }
      }

      .adminLinks {
        text-align: right;
        display: flex;
        flex-direction: column;
        align-items: flex-end;

        .adminLinkDelete {
          display: inline;
          color: red;
          cursor: pointer;

          &:hover {
            text-decoration: underline;
          }
        }
      }
    }

    .selections {
      flex: 1 1 240px;
      display: flex;
      flex-flow: column nowrap;

      .selection {
        display: flex;
        flex-flow: row nowrap;
        margin-left: 10px;
        align-items: center;
        position: relative;
        cursor: pointer;

        &:hover {
          background: linear-gradient(to right, transparent 0%, rgba(255,255,255,0.1) 20%, rgba(255,255,255,0.1) 80%, transparent 100%);
        }

        &[data-selected=true] {
          &::before {
            content: '';
            position: absolute;
            left: -0.5em;
            top: 0;
            width: 100%;
            height: 100%;
            box-shadow: 0 0 3px 1px classColour(rogue);
            background-color: rgba(classColour(rogue), 0.1);
            padding: 0 0.5em;
          }
        }

        .choiceNumber {
          width: 0.5em;
          margin-right: 0.5em;
        }

        .class {
          height: 26px;
        }

        .spec {
          margin-left: 10px;
          position: relative;
        }

        .role {
          height: 26px;
        }

        .indicators {
          position: absolute;
          right: 0;
          top: 0;
          height: 100%;
          align-items: center;
          display: flex;
          flex-flow: row nowrap;

          .commentIndicator {
            width: 12px;
            height: 12px;
            background: url('../../../../../images/icons/comment.svg?fill=%23fff') center center no-repeat;
          }


        }
      }
    }
  }

  .summaryContainer {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
  }

  .summary {
    display: inline-block;
    padding: 1em;
    border: 2px solid rgba(0, 0, 0, 0.3);
    box-shadow: 0 0 5px 0 rgba(255, 255, 255, 0.1);
    border-radius: 5px;
    max-width: 400px;
    background: rgba(0, 0, 0, 0.2);
    margin: 2em auto 0;
    text-align: center;

    .summaryRow {

      .summaryRowTitle {
        font-size: 1.2em;
        opacity: 0.7;
        margin-top: 0.5em;
      }

      .summaryRowTags {
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
      }
    }
  }
}
