.playerAdminLinks {
  text-align: right;
  display: flex;
  flex-direction: column;
  align-items: flex-end;

  .adminLinkDelete {
    display: inline;
    color: red;
    cursor: pointer;

    &:hover {
      text-decoration: underline;
    }
  }
}