.warningIndicator {
  display: flex;
  flex-flow: row nowrap;
  margin-left: 0.5em;

  .severityIndicator {
    width: 6px;
    height: 12px;
    background: url('../../../../../../../images/icons/exclamation.svg?fill=%23ff8f00') center center no-repeat;
  }

  &[data-severity="1"] {

    .severityIndicator {
      background: url('../../../../../../../images/icons/exclamation.svg?fill=%23fff') center center no-repeat;
    }
  }

  &[data-severity="3"] {

    .severityIndicator {
      background: url('../../../../../../../images/icons/exclamation.svg?fill=%23f00') center center no-repeat;
    }
  }
}