.panelOuter {
  margin: 90px auto;
  text-align: center;

  .panelInner {
    display: inline-block;
    margin: 0 auto;
    background-image: url('../../../../images/Box-leather-blue.jpg');
    padding: 20px 30px;
    text-align: center;
    position: relative;

    &::after {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      border-style: solid;
      border-width: 0;
      border-image-source: url('../../../../images/ArticleTile-ocho-border.png');
      border-image-repeat: round;
      border-image-slice: 108 fill;
      border-image-width: 54px;
      border-image-outset: 34px;
      content: "";
      display: block;
      z-index: 1;
      pointer-events: none;
    }
  }
}