.overview {
  background: linear-gradient(to right, transparent 0%, rgba(0, 0, 0, 0.5) 20%, rgba(0, 0, 0, 0.5) 80%, transparent 100%);
  padding: 1em 0;

  .userSelections {
    margin: 0.5em auto;
    display: flex;
    flex-flow: row wrap;
    width: 400px;
    max-width: 100%;
    position: relative;

    &:not(:first-child) {
      padding-top: 1em;

      &::before {
        content: '';
        height: 1px;
        width: 100%;
        position: absolute;
        left: 0;
        top: 0;
        background: linear-gradient(to right, transparent 0%, rgba(255,255,255,0.5) 50%, transparent 100%);
      }
    }

    .battletag {
      flex: 1 1 160px;
      text-align: right;
      padding-right: 10px;
    }

    .selections {
      flex: 1 1 240px;
      display: flex;
      flex-flow: column nowrap;

      .selection {
        display: flex;
        flex-flow: row nowrap;
        margin-left: 10px;
        align-items: center;
        position: relative;
        cursor: pointer;

        &:hover {
          background: linear-gradient(to right, transparent 0%, rgba(255,255,255,0.1) 20%, rgba(255,255,255,0.1) 80%, transparent 100%);
        }

        .choiceNumber {
          width: 0.5em;
          margin-right: 0.5em;
        }

        .class {
          height: 26px;
        }

        .spec {
          margin-left: 10px;
          position: relative;
        }

        &[title] {

          &::after {
            content: '';
            width: 12px;
            height: 12px;
            position: absolute;
            right: 0;
            background-image: url('../../../../../images/icons/comment.svg');
            pointer-events: none;
          }
        }

        &[title]:hover {
          overflow: visible;

          &::after {
            content: attr(title);
            background-image: none;
            background: rgba(0, 0, 0, 0.9);
            left: -100%;
            bottom: 100%;
            width: auto;
            height: auto;
            z-index: 1;
            padding: 0.5em 1em;
            box-sizing: border-box;
            text-align: right;
            // white-space: pre;
          }
        }
      }
    }
  }
}
