@import '../../../../../mixins/classes';

.playerSelection {
  display: flex;
  flex-flow: row nowrap;
  margin-left: 10px;
  align-items: center;
  position: relative;
  cursor: pointer;
  flex: 0 1 240px;

  &:hover {
    background: linear-gradient(to right, transparent 0%, rgba(255,255,255,0.1) 20%, rgba(255,255,255,0.1) 80%, transparent 100%);
  }

  &[data-selected=true] {
    &::before {
      content: '';
      position: absolute;
      left: -0.5em;
      top: 0;
      width: 100%;
      height: 100%;
      padding: 0 0.5em;
    }


    &::after {
      display: none;
      content: '';
      position: absolute;
      left: 100%;
      margin-left: 18px;
      width: 18px;
      height: 18px;
    }

    &[data-overview-selection=first] {
      &::before {
        box-shadow: 0 0 2px 0 classColour(monk) inset;
        background-color: rgba(classColour(monk), 0.1);
      }
      &::after {
        background: url('../../../../../../../images/icons/check-circle.svg?fill=' + escapeClassColour(monk)) center center no-repeat;
      }
    }

    &[data-overview-selection=second] {
      &::before {
        box-shadow: 0 0 2px 0 classColour(rogue) inset;
        background-color: rgba(classColour(rogue), 0.1);
      }
      &::after {
        background: url('../../../../../../../images/icons/check-circle.svg?fill=' + escapeClassColour(rogue)) center center no-repeat;
      }
    }
  }

  .choiceNumber {
    width: 0.5em;
    margin-right: 0.5em;
  }

  .class {
    height: 26px;
  }

  .spec {
    margin-left: 10px;
    position: relative;
  }

  .role {
    height: 26px;
  }

  .indicators {
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    align-items: center;
    display: flex;
    flex-flow: row nowrap;

    .commentIndicator {
      width: 12px;
      height: 12px;
      background: url('../../../../../../../images/icons/comment.svg?fill=%23fff') center center no-repeat;
    }

  }
}