@import "../../../../../mixins/classes.scss";

.classSpecSelect {
  display: inline-block;
  width: 100%;
  display: flex;
  flex-flow: row wrap;

  select {
    font-family: "Hammersmith One", sans-serif;
    flex: 1 0 50%;
    font-size: 16px;
    padding: 5px;
    box-sizing: border-box;
    border: 1px solid #666;
    border-radius: 5px;
    cursor: pointer;

    &.classSelect {
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
    }

    &.specSelect {
      border-left: none;
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
    }

    &[data-required="true"] {
      border-color: red;
      box-shadow: 0 0 2px 1px red;
    }
  }

  input {
    font-family: "Hammersmith One", sans-serif;
    flex: 1 0 50%;
    font-size: 16px;
    padding: 5px;
    box-sizing: border-box;
    border: 1px solid #666;
    border-radius: 5px;

    &.classSelectReadOnly {
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
    }

    &.specSelectReadOnly {
      border-left: none;
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
    }
  }

  box-shadow: 0 0 5px 0 classColour(mage);

  @each $class, $colour in $classColours {
    &[data-selected="#{$class}"] {
      background-color: $colour;
      box-shadow: 0 0 0px 5px $colour;
      border-radius: 1px;
    }
  }

  &__locked {
    background-color: lime;
  }
}
