@import '../../mixins/classes.scss';

.header {
  display: flex;
  flex-flow: row wrap;

  .titles {
    flex: 1 0 80%;
    padding-right: 2em;
    font-size: 30px;
    line-height: 1.2em;
  }

  .menu {
    flex: 1 1 20%;
    text-align: right;

    .loginButton {
      display: inline-block;
      position: relative;
      padding: 0 5px 0 30px;
      line-height: 24px;
      background: black;
      border-radius: 3px;
      border: 1px solid classColour(mage);
      box-shadow: 0 0 0 2px black, 0 0 5px 3px classColour(mage);
      cursor: pointer;

      &:hover {
        box-shadow: 0 0 0 2px black, 0 0 5px 4px classColour(mage);
      }

      &::after {
        position: absolute;
        left: 2px;
        top: 4px;
        content: "";
        width: 16px;
        height: 16px;
        background: url('../../../../images/battle.net.png') no-repeat;
      }
    }

    .loggedIn {
      line-height: 1.5em;

      .loggedInAs {
      }

      .logoutButton {
        margin-top: 0.5em;
        color: white;
        text-decoration: none;
        display: inline-block;
        position: relative;
        padding: 0 5px 0 30px;
        line-height: 24px;
        background: black;
        border-radius: 3px;
        border: 1px solid classColour(mage);
        box-shadow: 0 0 0 2px black, 0 0 5px 3px classColour(mage);
        cursor: pointer;

        &:hover {
          box-shadow: 0 0 0 2px black, 0 0 5px 4px classColour(mage);
        }

        &::after {
          position: absolute;
          left: 2px;
          top: 4px;
          content: "";
          width: 16px;
          height: 16px;
          background: url('../../../../images/battle.net.png') no-repeat;
        }
      }
    }
  }
}