.header {
  width: 100%;
  display: flex;
  flex-flow: row wrap;

  .titles {
    flex: 1 0 80%;
    padding-right: 2em;
    font-size: 30px;
    line-height: 1.2em;
  }

  .menu {
    flex: 1 1 20%;
    text-align: right;

    .loggedIn {
      line-height: 1.5em;

      .loggedInAs {
      }
    }
  }
}