@import '../../../../../mixins/classes';

.playerDisplay {
  margin: 0.5em auto;
  display: flex;
  flex-flow: row wrap;
  width: 100%;
  max-width: 800px;
  position: relative;
  justify-content: center;
  align-items: stretch;

  &:not(:first-child) {
    padding-top: 1em;

    &::before {
      content: '';
      height: 1px;
      width: 100%;
      position: absolute;
      left: 0;
      top: 0;
      background: linear-gradient(to right, transparent 0%, rgba(255,255,255,0.5) 50%, transparent 100%);
    }
  }

  .info {
    flex: 0 0 160px;
    padding-right: 10px;
    display: flex;
    flex-flow: row wrap;
    align-items: flex-start;
    align-content: flex-start;
  }

  .selections {
    flex: 0 0 280px;
    display: flex;
    flex-flow: column nowrap;
  }

  .lock {
    flex: 0 0 200px;
  }
}